<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px; width: 1400px;" />
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Les utilisateurs signalés</h5>
          <form>
            <div class="card">
              <div class="card-header">

              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group no-border">
                      <input class="form-control" placeholder="Recherche..." type="text" value="">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="now-ui-icons ui-1_zoom-bold">
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6"></div>
                  
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="">
                      <input type="radio" name="kha" id="kha" checked>
                      <span>Username</span>
                    </label>

                    <label for="" style="margin-left: 20px;">
                      <input type="radio" name="kha" id="kha">
                      <span>Emaill</span>
                    </label>

                    <label for="" style="margin-left: 20px;">
                      <input type="radio" name="kha" id="kha">
                      <span>Ville</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Utilisateur</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Username</label>
                      <!--<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">-->
                      <input type="text" class="form-control" placeholder="Company" value="Creative Code Inc.">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Signalé Par :  <i class="now-ui-icons users_circle-08"></i> Gobota Hamid </label>
                      <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                        value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Signalé Par :  <i class="now-ui-icons users_circle-08"></i> Hamid Retroviseur </label>
                      <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                        value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Signalé Par :  <i class="now-ui-icons users_circle-08"></i> Dakar Hamad </label>
                      <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                        value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                      </textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>