<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px; width: 1400px;" />
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste des Comptes Signalés</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Username
                </th>
                <th>
                  Email
                </th>
                <th>
                  City
                </th>
                <th>
                  Role
                </th>
                <th>
                  Nb Réclamations
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    DakotaRice@gmail.com
                  </td>
                  <td>
                    Client
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    4
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons files_single-copy-04"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button> 
                  </td>
                </tr>
                <tr>
                  <td>
                    Minerva Hooper
                  </td>
                  <td>
                    MinervaHooper@gmail.com
                  </td>
                  <td>
                    Conducteur
                  </td>
                  <td>
                    Sinaai-Waas
                  </td>
                  <td>
                    6
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons files_single-copy-04"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Sage Rodriguez
                  </td>
                  <td>
                    SageRodriguez@gmail.com
                  </td>
                  <td>
                    Client
                  </td>
                  <td>
                    Baileux
                  </td>
                  <td>
                    8
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons files_single-copy-04"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    DorisGreene@gmail.com
                  </td>
                  <td>
                    Client
                  </td>
                  <td>
                    Malawi
                  </td>
                  <td>
                    10
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons files_single-copy-04"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
