<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px;width: 1400px;">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category"></h5>
          <h4 class="card-title">Mes Reservations</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <img alt="..." class="avatar" src="../assets/img/mike.jpg">
                  </td>
                  <td> <b style="font-size: large;">Casablanca  </b>  
                    <i class="now-ui-icons ui-1_simple-delete"></i> 
                    <i class="now-ui-icons arrows-1_minimal-right"></i> 
                    <b style="font-size: large;"> Rabat</b> 
                  </td>
                  <td>
                    <i class="now-ui-icons users_single-02"></i>
                    <i class="now-ui-icons users_single-02"></i>
                    <i class="now-ui-icons users_single-02"></i>
                  </td>
                  <td class="text-right">
                    <b>45DH  </b>  <i class="now-ui-icons business_money-coins"></i>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-warning">Modifier <i class="now-ui-icons files_single-copy-04"></i></button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger">Supprimer  <i class="now-ui-icons ui-1_simple-remove"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img alt="..." class="avatar" src="../assets/img/mike.jpg">
                  </td>
                  <td> <b style="font-size: large;">Rabat  </b>  
                    <i class="now-ui-icons ui-1_simple-delete"></i> 
                    <i class="now-ui-icons arrows-1_minimal-right"></i> 
                    <b style="font-size: large;"> Marrakech</b> 
                  </td>
                  <td>
                    <i class="now-ui-icons users_single-02"></i>
                    <i class="now-ui-icons users_single-02"></i>
                  </td>
                  <td class="text-right">
                    <b>38DH  </b>  <i class="now-ui-icons business_money-coins"></i>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-warning">Modifier <i class="now-ui-icons files_single-copy-04"></i></button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger">Supprimer  <i class="now-ui-icons ui-1_simple-remove"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>