<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px; width: 1400px;" />
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Annonce de covoiturage de la part de "{{currentCovoitureur.userName}}"</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Départ   <i class="now-ui-icons location_pin"></i></label>
                  <input type="text" class="form-control" disabled="" placeholder="Rabat" name="depart" ngModel [(ngModel)]="currentTrajet.lieuDepart" required>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Arrivée   <i class="now-ui-icons location_pin"></i></label>
                  <input type="text" class="form-control" disabled="" placeholder="Casablanca" name="arrivee" ngModel [(ngModel)]="currentTrajet.lieuArrive" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Date de départ  <i class="now-ui-icons ui-1_calendar-60"></i></label>
                  <input type="datetime-local" disabled="" placeholder="12/01/2020 05:49" class="form-control" name="date" ngModel [(ngModel)]="currentTrajet.dateDepart" required>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Prix   <i class="now-ui-icons business_money-coins"></i></label>
                  <input type="number" class="form-control" disabled="" placeholder="77 DH" name="prix" ngModel [(ngModel)]="currentTrajet.prix" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Passagers   <i class="now-ui-icons users_single-02"></i></label>

                  <select class="form-control" disabled="" name ='passager'  required ngModel [(ngModel)]="currentTrajet.passager">
                    <option *ngFor="let option of options" value="{{option}}" selected>{{option}}</option>
                    
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Valise   <i class="now-ui-icons business_briefcase-24"></i></label>

                  <select class="form-control" disabled="" name ='valise' required ngModel [(ngModel)]="currentTrajet.valise">
                    <!--<option value="sans">Sans</option>-->
                    <option  *ngFor="let option1 of options1" value="{{option1}}" selected>{{option1}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <label>Voir le profile de l'annonceur : </label>
                <a [routerLink]="['/details-user']" class="btn btn-success" type="submit" ><i class="now-ui-icons users_single-02"></i> {{currentCovoitureur.userName}} </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>