<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px; width: 1400px;" />
</div>
<div class="main-content">
  <div class="row">

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <label>Notez cet utilisateur : {{userProfile.userName}} </label>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onUpdateUser(f.value)">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nom d'Utilisateur</label>
                  <!--<input type="text" class="form-control" disabled="" disabled="" placeholder="Company" value="Creative Code Inc.">-->
                  <input type="text" name="userName" class="form-control" disabled="" placeholder="Nom d'Utilisateur"
                    value="Creative Code Inc." ngModel [(ngModel)]="userProfile.userName">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" name="firstName" class="form-control" disabled="" placeholder="Nom" value="Mike"
                    ngModel [(ngModel)]="userProfile.firstName">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" name="lastName" class="form-control" disabled="" placeholder="Prénom"
                    value="Andrew" ngModel [(ngModel)]="userProfile.lastName">
                </div>
              </div>
              <div class="col-md-4 pl-1 ">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" id="email" type="email" class="form-control" disabled="" placeholder="Email"
                    ngModel [(ngModel)]="userProfile.email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adresse</label>
                  <input type="text" name="address" class="form-control" disabled="" placeholder="Adresse"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" ngModel [(ngModel)]="userProfile.address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Ville</label>
                  <input type="text" name="city" class="form-control" disabled="" placeholder="Ville" value="Mike"
                    ngModel [(ngModel)]="userProfile.city">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Téléphone</label>
                  <input type="text" name="tel" class="form-control" disabled="" placeholder="Téléphone" value="Andrew"
                    ngModel [(ngModel)]="userProfile.tel">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-header">
          <h5 class="title">Avis sur l'utilisateur : </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Avis de l'utilisateur : </label>
                <textarea type="text" name="userName" class="form-control" placeholder="Nom d'Utilisateur"
                  value="Creative Code Inc." ngModel [(ngModel)]="userProfile.userName"></textarea>

              </div>
            </div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="col-md-8 pr-1">
              <div class="form-group">
                <ngb-rating max=5 name="score" [(rate)]="currentRate" ngModel [(ngModel)]="userProfile.score">
                </ngb-rating>
                <hr>
                <pre>Rate: <b>{{currentRate}}</b></pre>
              </div>
            </div>
          </form>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title"> {{userProfile.firstName}} {{userProfile.lastName}} </h5>
            </a>
            <p class="description">
              {{userProfile.userName}}
            </p>
          </div>
          <p class="description text-center">
            {{userProfile.address}} {{userProfile.city}}
            <br>Téléphone : {{userProfile.tel}}

          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>