<div class="panel-header panel-header-lg">
  <img src="../../assets/img/test.jpg" style="height: 300px; width: 1400px;" />
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
            <h1>S'enregistrer</h1>
            <p class="text-muted">Créer votre compte</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
              </div>
              <input type="text" class="form-control" name="userName" placeholder="Username" autocomplete="username"
                required ngModel>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
              </div>
              <input type="text" class="form-control" name="email" placeholder="Email" autocomplete="email" required
                ngModel>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons users_single-02"></i></span>
              </div>
              <input type="text" class="form-control" name="firstName" placeholder="Firstname" autocomplete="firstname"
                required ngModel>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons users_single-02"></i></span>
              </div>
              <input type="text" class="form-control" name="lastName" placeholder="LastName" autocomplete="lastname"
                required ngModel>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
              </div>
              <input type="password" class="form-control" name="password" placeholder="Password"
                autocomplete="new-password" required ngModel>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons business_badge"></i></span>
              </div>
              <input type="text" class="form-control" name="address" placeholder="Address" autocomplete="address"
                required ngModel>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
              </div>
              <input type="text" class="form-control" name="tel" placeholder="Tel" autocomplete="tel" required ngModel>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons travel_istanbul"></i></span>
              </div>
              <input type="text" class="form-control" name="city" placeholder="City" autocomplete="city" required
                ngModel>
            </div>
            <button type="submit" class="btn btn-block btn-success">Créer un compte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>